<h1 style="text-align:center;font-size:50px" class="pt-5">DIVIDENDOS (IDIV)</h1>
<div class="container py-4">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td>Number</td>
        <td>Name</td>
        <td>2018</td>
        <td>2019</td>
        <td>2020</td>
        <td>2021</td>
        <td>2022</td>
        <td>Average</td>
        <td>Average DY</td>
        <td>Average Adjusted</td>
        <td>Average Adjusted DY</td>
        <td>Price</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of sortBy('adjustedDY'); let index = index">
        <td>{{ index + 1 }}</td>
        <td class="text-uppercase">{{ stock.name | lowercase }}</td>
        <td>{{ stock[2018] | number:'.4-4' }}</td>
        <td>{{ stock[2019] | number:'.4-4' }}</td>
        <td>{{ stock[2020] | number:'.4-4' }}</td>
        <td>{{ stock[2021] | number:'.4-4' }}</td>
        <td>{{ stock[2022] | number:'.4-4' }}</td>
        <td>{{ stock.average | number:'.4-4' }}</td>
        <td>{{ stock.dy | number:'.2-2' }}</td>
        <td>{{ stock.averageAdjusted | number:'.2-2' }}</td>
        <td>{{ stock.adjustedDY | number:'.2-2' }}</td>
        <td>{{ stock.price | number:'.2-2' }}</td>
      </tr>
    </tbody>
  </table>
</div>
